body {
    font-size: 16px;
    list-style: none; }
body a:hover, body a:focus {
    color: inherit;
    text-decoration: none; }

header {
    width: 100%;
    height: 3em;
    background: #e8e8e8;
    display: flex;
    align-items: center;
    padding: 0 4.375em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: background .4s ease-out;
    justify-content: space-between; }
header .logo {
    width: 7em; }
header .logo img {
    width: 100%; }
header nav li {
    display: inline-block;
    margin-right: 1em;
    font-family: firago-regular; }
header nav li a {
    color: #000000;
    font-size: 1em;
    transition: color .3s; }
header nav li a:hover {
    color: #ee5567; }
header nav li.active a {
    color: #ee5567; }

.section {
    margin-top: 3em; }

#section0 {
    background-size: cover;
    background-position: center;
    padding-left: 10.625em;
    padding-right: 22.75em; }
#section0:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 2; }
#section0 .intro {
    color: #ffffff;
    position: relative;
    z-index: 999;
    padding-right: 20em;
    font-family: firago-medium; }
@media (max-width: 1480px) {
    #section0 .intro {
        padding-right: 5em; } }
#section0 .intro h2 {
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1em; }
@media (max-width: 1480px) {
    #section0 .intro h2 {
        font-size: 1.7em; } }
#section0 .intro span {
    font-size: 1.5em; }
@media (max-width: 1480px) {
    #section0 .intro span {
        font-size: 1.125em; } }
#section0 #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 9; }

#section1 {
    display: flex;
    flex-wrap: wrap; }
#section1 .for-publishers {
    background: #ee5567;
    width: 100%;
    text-align: center;
    padding: 2.125em 0;
    color: #ffffff;
    text-transform: uppercase;
    font-family: firago-bold; }
#section1 .for-publishers h2 {
    font-size: 2em; }
#section1 .information-publishers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: calc(50% - (3em * 2));
    transform: translateY(-50%); }
#section1 .information-publishers .title {
    width: 100%;
    font-size: 1.5em;
    color: #212a42;
    font-weight: bold;
    text-align: center;
    font-family: firago-medium; }

#section2 {
    display: flex;
    flex-wrap: wrap;
    background: #e6e6e6; }
#section2 .for-clients {
    background: #212a42;
    width: 100%;
    text-align: center;
    padding: 2.125em 0;
    color: #e2e7ea;
    text-transform: uppercase;
    font-family: firago-bold; }
#section2 .for-clients h2 {
    font-size: 2em; }
#section2 .information-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: calc(50% - (3em * 2));
    transform: translateY(-50%); }
#section2 .information-clients .title {
    width: 100%;
    font-size: 1.5em;
    color: #212a42;
    font-weight: bold;
    text-align: center;
    font-family: firago-medium; }
#section2 .information-clients .circle-container .circle-block {
    background: #212a42; }
#section2 .information-clients .circle-container .circle-block:after {
    background: #e6e6e6; }
#section2 .information-clients .circle-container .circle-block:before {
    border-color: #ee5567; }
#section2 .information-clients .circle-container .circle-block .dot {
    background: #ee5567; }
#section2 .information-clients .bottom-container .bottom-block:after {
    color: #ee5567; }
#section2 .information-clients .bottom-container .bottom-block:before {
    background: #ee5567; }

.circle-container {
    width: 55%;
    display: flex;
    justify-content: space-around;
    margin-top: calc(3.125em + 20px); }
.circle-container .circle-block {
    width: 20%;
    padding-bottom: 20%;
    background: #ee5567;
    border-radius: 50%;
    color: #ffffff;
    display: flex;
    text-align: center;
    position: relative;
    font-family: firago-regular; }
.circle-container .circle-block:before {
    content: '';
    position: absolute;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;
    background: transparent;
    border: solid 1.5px #1c83c4;
    border-radius: 50%;
    z-index: -2; }
.circle-container .circle-block:after {
    content: '';
    position: absolute;
    width: 7%;
    height: 120%;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    z-index: -1; }
.circle-container .circle-block .dot {
    position: absolute;
    width: 5%;
    height: 5%;
    border-radius: 50%;
    background: #1c83c4; }
.circle-container .circle-block .dot.dot1 {
    top: 101.6%;
    left: 44%; }
.circle-container .circle-block .dot.dot2 {
    top: 101.8%;
    left: 51%; }
.circle-container .circle-block .dot.dot3 {
    left: -6.8%;
    top: 45.7%; }
.circle-container .circle-block .dot.dot4 {
    left: -6.8%;
    top: 52.8%; }
.circle-container .circle-block .dot.dot5 {
    right: -6.8%;
    top: 45.7%; }
.circle-container .circle-block .dot.dot6 {
    right: -6.8%;
    top: 52.8%; }
.circle-container .circle-block span {
    font-size: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.bottom-container {
    width: 55%;
    display: flex;
    justify-content: space-around;
    margin-top: calc(3.125em + 20px);
    position: relative; }
.bottom-container .bottom-block {
    color: #212a42;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    text-align: center;
    align-items: center;
    padding: 0 5em;
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    font-family: firago-bold; }
.bottom-container .bottom-block:after {
    content: "01";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1c83c4;
    opacity: .33;
    font-size: 4em;
    z-index: -1; }
.bottom-container .bottom-block:nth-of-type(2):after {
    content: '02'; }
.bottom-container .bottom-block:nth-of-type(3):after {
    content: '03'; }
.bottom-container .bottom-block:before {
    content: '';
    width: 40%;
    height: 2px;
    position: absolute;
    right: -20%;
    background: #1c83c4; }
.bottom-container .bottom-block:nth-of-type(3):before {
    display: none; }

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    width: 14px !important;
    height: 14px !important;
    margin: -6px 0 0 -6px !important;
    background: transparent !important;
    border: solid 1.5px #e8e8e8 !important; }
#fp-nav ul li a span.home, .fp-slidesNav ul li a span.home {
    border-color: #e8e8e8 !important; }
#fp-nav ul li a span.publisher, .fp-slidesNav ul li a span.publisher {
    border-color: #1c83c4 !important; }

#section3 {
    background: #212a42;
    padding: 0 20%;
    position: relative; }
#section3 .contact-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -5em; }
#section3 .contact-container .left {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8.125em / 2); }
#section3 .contact-container .left .get-in-touch {
    color: #ec5466;
    font-size: 5em;
    text-transform: uppercase;
    line-height: .9em;
    position: relative;
    margin-bottom: 10px;
    font-family: firago-medium; }
#section3 .contact-container .left .get-in-touch:after {
    content: '';
    width: 25%;
    background-color: #ec5466;
    height: 4px;
    position: absolute;
    bottom: -10px;
    left: 0;
    border-radius: 25px; }
#section3 .contact-container .left .highlite {
    margin-top: 1em;
    color: #ffffff;
    opacity: .5;
    font-size: 1.25em;
    font-family: firago-regular; }
#section3 .contact-container .left .address {
    margin-top: 1.5em;
    color: #ffffff;
    font-family: firago-regular; }
#section3 .contact-container .left .address img {
    margin-right: 1.875em;
    float: left; }
#section3 .contact-container .left .address a {
    display: block;
    margin-top: 1em;
    margin-left: 4.475em;
    color: #ffffff;
    opacity: .6;
    width: max-content;
    position: relative;
    border-bottom: 2px solid #ffffff; }
#section3 .contact-container .right {
    display: flex;
    flex-direction: column;
    width: calc(50% - 8.125em / 2);
    justify-content: center;
    font-family: firago-regular; }
#section3 .contact-container .right .radio-buttons {
    display: flex; }
#section3 .contact-container .right .radio-buttons .publisher {
    margin-right: 2em; }
#section3 .contact-container .right .radio-buttons [type="radio"]:checked,
#section3 .contact-container .right .radio-buttons [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px; }
#section3 .contact-container .right .radio-buttons [type="radio"]:checked + label,
#section3 .contact-container .right .radio-buttons [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #ffffff; }
#section3 .contact-container .right .radio-buttons [type="radio"]:checked + label:before,
#section3 .contact-container .right .radio-buttons [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ec5466;
    border-radius: 100%;
    background: transparent; }
#section3 .contact-container .right .radio-buttons [type="radio"]:checked + label:after,
#section3 .contact-container .right .radio-buttons [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 19px;
    height: 19px;
    background: #1c83c4;
    position: absolute;
    top: -.5px;
    left: -.5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }
#section3 .contact-container .right .radio-buttons [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
#section3 .contact-container .right .radio-buttons [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
#section3 .contact-container .right .input-fields {
    width: 100%; }
#section3 .contact-container .right .input-fields input {
    width: 100%;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #c1c3ca;
    color: #ffffff;
    padding: 0.6em 0;
    margin-top: 1.25em; }
#section3 .contact-container .right .input-fields input:-webkit-autofill, #section3 .contact-container .right .input-fields input:-webkit-autofill:hover, #section3 .contact-container .right .input-fields input:-webkit-autofill:focus {
    border-bottom: 1px solid #c1c3ca;
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow: none;
    background-color: transparent !important; }
#section3 .contact-container .right .input-fields textarea {
    width: 100%;
    background: none;
    outline: none;
    border: 0;
    border-bottom: 1px solid #c1c3ca;
    color: #ffffff;
    resize: none;
    padding-bottom: 2.25em;
    padding-top: 0.6em;
    overflow: hidden;
    margin-top: 1.25em; }
#section3 .contact-container .right .input-fields input::-webkit-input-placeholder, #section3 .contact-container .right .input-fields textarea::-webkit-input-placeholder {
    /* Edge */
    color: #ffffff; }
#section3 .contact-container .right .input-fields input:-ms-input-placeholder, #section3 .contact-container .right .input-fields textarea:-ms-input-placeholder {
    /* Internet Explorer */
    color: #ffffff; }
#section3 .contact-container .right .input-fields input::placeholder, #section3 .contact-container .right .input-fields textarea::placeholder {
    color: #ffffff; }
#section3 .contact-container .right .send-button {
    padding: .5em 0;
    background-color: #1c83c4;
    border-radius: 1em;
    border: none;
    outline: none;
    color: #ffffff;
    margin-top: 1.125em;
    width: 35%;
    text-align: center;
    cursor: pointer; }
#section3 .contact-bottom {
    width: 100%;
    padding: 1em 7.5%;
    background: #ee5567;
    position: absolute;
    bottom: 3em;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
#section3 .contact-bottom .right {
    font-family: firago-regular; }

#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
    background: #ffffff !important; }
#fp-nav ul li a.active span.home, #fp-nav ul li:hover a.active span.home, .fp-slidesNav ul li a.active span.home, .fp-slidesNav ul li:hover a.active span.home {
    background: #ffffff !important;
    border: 0 !important; }
#fp-nav ul li a.active span.publisher, #fp-nav ul li:hover a.active span.publisher, .fp-slidesNav ul li a.active span.publisher, .fp-slidesNav ul li:hover a.active span.publisher {
    background-color: #ee5567 !important;
    border: 0 !important; }

#fp-nav ul li .fp-tooltip.publisher {
    color: #ee5567 !important; }

#fp-nav ul li:hover .fp-tooltip, #fp-nav.fp-show-active a.active + .fp-tooltip {
    font-family: firago-regular; }

/*# sourceMappingURL=style.css.map */
